<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
		<!-- Employee employee = new Employee(); -->
		
		<!-- when we define like below the Spring framework came into exist and IOC(Inversion of Control)
		container helps in creating the object and place the object in FACTORY Location/pattern.
		 -->
	<bean id = "employee" class = "com.info.basics.Employee"></bean>		

</beans>
